.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.527);
    background-repeat: no-repeat;
    background-position: bottom;

    background-size: 60em;


    height: 74vh;
    width: 100vw;

}
.data {
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow-x: scroll;
    height: 150vh;
    width: 100vw;
    color: black;
}

.data:hover  {
   
    height: 150vh;
    width: 100vw;
    color: white;
    font-weight: lighter;
    
    cursor: pointer;
    transition: .5s;
}



.database {
    width: 10em;
    height: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 15%;
    
    background-color: black;
}



.designHome {

    
    background-color: rgba(0, 0, 0, 0.438);
    height: 26.1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
