.designLogin {

    background-color:  rgba(0, 0, 0, 0.438);
    
    height: 26.1em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.designFormulario{
    margin-top: 5%;
}

.loginButton {
    width: 9em;
    height: 3em;

    color: white;

    transition: 0.3s;
    background-color: blue;
    border-radius: 1em;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2em;
}

.loginButton:hover{
    background-color:  rgba(0, 0, 0, 0.527);
    font-weight: bold;
    cursor:pointer;
}



.introText{
    display: column;
    background-color: rgba(0, 0, 0, 0.438);
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}