.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: blue;
    background-repeat: no-repeat;
    background-position: bottom;

    background-size: 60em;


    height: 74vh;
    width: 100vw;

}
.data {
    margin-top: 20em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow-x: scroll;
    height: 30em;
    width: 100vw;
}



.database {
    width: 10em;
    height: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 2em;
    border-color: grey;
    background-color: lightgrey;
}
