
.designRent {
    height: 2em;
    width: 8em;
    
    border-radius: .2em;
    background-color: rgba(0, 0, 0, 0.527);

    color: white;
    font-weight: lighter;
    
}


.designRent:hover{
    background-color:  black;
    transition: 0.2s;
    font-weight: bold;
    cursor: pointer;
}