
.designRent {
    height: 2em;
    width: 8em;
    
    border-radius: .2em;
    background-color: rgba(0, 0, 0, 0.527);

    color: blue;
    
}


.designRent:hover{
    background-color: bisque;
    transform:scale(.9);
}